{% extends 'base.html' %}
{% block content %}
  <h1>About</h1>
  <article class="media content-section">
    <div class="media-body">
      <h2>About The Food Forum</h2>
      <h5 class="article-content">At The Food Forum we are dedicated to ensure that each and everyone gets to enjoy Native foods and get healthy at the same time. When people  travel,they often miss food from their native countries.The Food Forum,gives those people a chance to enjoy reserch and enjoy the food they had at home abroad
      And conversely people often miss a meal they had abroad, so they can research and get food they had abroad at home.</h5>
      </div>
  </article>

{% endblock content %}
